<%= form_for @user, :url => "/admin/dashboards/#{params[:id]}", :method => "PUT" do |f| %>
<% if @user.errors.any? %>
<div id ="error_explanation">
  <h2><%= pluralize(@user.errors.count,"error") %> prohibited this user from being saved.</h2>
  <ul><% @user.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= f.label :first_name, "First Name" %>
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name, "Last Name" %>
  <%= f.text_field :last_name %>
</div>

<div class="field">
  <%= f.label :user_type ,"Type" %>
  <%= f.select :user_type, options_for_select([["Donor"],["Organizer"]]) %>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>

<div class="field">
  <%= f.label :status %>
  <%= f.select :status, options_for_select([["Active"],["Inactive"]]) %>
</div>


<div class="action">
  <%= f.submit :save %>
</div>
<% end %>