<!DOCTYPE html>
<html>
  <head>
    <title>YouGiveGoods  Admin</title>
    <%= stylesheet_link_tag    "admin","bootstrap.css", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "bootstrap.min.css","bootstrap-datetimepicker.min" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse">
            <% if admin_signed_in? %>
              <ul class="nav pull-right">
                <li>
                  <%= link_to "Logout", destroy_admin_session_path, :method => "DELETE" %>
                </li>
              </ul>
            <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div class="bs-sidebar affix" style="margin-left: 50px;">
      <% if admin_signed_in? %>
      <ul class="nav bs-sidenav">
        <li><%= link_to "Home", admin_dashboards_path %></li><br/>
        <li><%= link_to "User", users_path %></li><br/>
        <li><%= link_to "Drive", drives_path %></li><br/>
        <li><%= link_to "Campaign", campaigns_path %></li><br/>
        <li><%= link_to "Products",products_path %></li><br/>
        <li><%= link_to "Reports" %></li>
      </ul>
      <% end %>
    </div>

    <div class="container" style="padding-bottom:50px;width:1000px;">
      <% if notice %>
        <div class="alert alert-info" style="margin-top: 0px;">
          <a class="close" data-dismiss="alert">×</a>
          <strong><%= notice %></strong>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">×</a>
          <strong><%= alert %></strong>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
