<!DOCTYPE html>
<html>
  <head>
    <title>Amp Your Good</title>
    <%= stylesheet_link_tag    "admin","bootstrap.css", media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag "bootstrap.min.css","bootstrap-datetimepicker.min" %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container" style="width:1000px;">
          <div class="nav-collapse">
            <% if admin_signed_in? %>
              <ul class="nav pull-left">
                <li><%= link_to "Home", admin_dashboards_path %></li>
                <li><%= link_to "Users", users_path %></li>
                <li><%= link_to "Drives", drives_path %></li>
                <li><%= link_to "Campaigns", campaigns_path %></li>
                <li><%= link_to "Products",products_path %></li>
              </ul>
              <ul class="nav pull-right">
                <li>
                  <%= link_to "Logout", destroy_admin_session_path, :method => "DELETE" %>
                </li>
              </ul>
            <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    <br/>
    <br/>
    <br/>

    <div class="container" style="padding-bottom:50px;width:1000px;">
      <% if notice %>
        <div class="alert alert-info" style="margin-top: 0px;">
          <a class="close" data-dismiss="alert">×</a>
          <strong><%= notice %></strong>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">×</a>
          <strong><%= alert %></strong>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
